@import '../../../styles.scss';

.main{
    @include flex-center();
    padding-top: 15vh;
    width: 100%;
    flex-direction: column;
    background-color: $spanish-pink;

    .search{
        @include flex-center();
        width: 50%;
        height: 10vh;

        fieldset{
            @include flex-center();
            height: 100%;
            width: 100%;
            border: none;

            select{
                height: 2em;
                outline: none;
                background-color: $upsdell-red;
                color: $crayolas-orange-yellow;
            }

            select:hover{
                cursor: pointer;
                background-color: lighten($upsdell-red, 10%);
            }

            input{
                @include flex-center();
                height: 2em;
                width: 60%;
                outline: none;
                border: 1px solid $oxford-blue;
            }

            button{
                @include button-style();
            }

            button:hover{
                cursor: pointer;
                background-color: lighten($dark-slate-blue, 10%);
            }
        }
    }

   .table{
        width: 80%;
        border-collapse: collapse;

        th, td{
            border: 1px solid $oxford-blue;
            padding: 8px;
            text-align: left;
        }

        th{
            background-color: $oxford-blue;
            color: $crayolas-orange-yellow;
            text-align: center;
        }

        tr:nth-child(odd){
            background-color: $crayolas-orange-yellow;
            color:$upsdell-red;

            a{
                color:$dark-slate-blue;
            }

            a:hover{
                color:lighten($dark-slate-blue, 30%);
            }
        }

        tr:nth-child(even){
            background-color: $upsdell-red;
            color:$crayolas-orange-yellow;

            a{
                color:$spanish-pink;
            }

            a:hover{
                color: lighten($spanish-pink, 30%);
            }
        }
    }

    .buttons{
        @include flex-center();
        width: 100%;

        button{
            @include button-style();
            width: 10em;
            margin: 3em;
        }

        button:hover{
            cursor: pointer;
            background-color: lighten($dark-slate-blue, 10%);           
        }
    }
}