<form [formGroup]="searchBox">
    <fieldset>
        <select
            formControlName="searchOption"
        >
            <option value="name">Nome</option>
            <option value="film">Filme</option>
        </select>

        <input
            formControlName="searchText"
            type="text"
            minlength="1"
            maxlength="100"
            required
        />

        <button
            [disabled]="searchBox.invalid"
            (click)="catchCharacterByParams()"
        >Buscar</button>
    </fieldset>
</form>

<ul *ngIf="allCharacters">
    <li *ngFor="let character of allCharacters">
    ID: {{character._id}} - PERSONAGEM: {{character.name}} - FILME: {{character.films[0]}}
    <a routerLink="/characters/{{character._id}}">Acessar Personagem</a>
    </li>
</ul>

<div *ngIf="pageInfo">
    <button
        *ngIf="pageInfo.previousPage !== null"
        (click)="previousPage()"
    >Página Anterior</button>

    <button
        *ngIf="pageInfo.nextPage !== null"
        (click)="nextPage()"
    >Próxima Página</button>
</div>