.headerStyle{
    height: 15vh;
    width: 100vw;
    background-color: #393E8F;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.titleStyle{
    color: #F3CC64;
}

.navStyle{
    height: 40%;
    width: 100%;
    background-color: #12194A;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.aStyle{
    color: #EFBEB7;
    text-decoration: none;
    background-color: #B12228;
    width: 12em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
