@import '../styles.scss';

@mixin flex-params{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-color: $spanish-pink;
}

.headerStyle{
    @include flex-params();
    height: 15%;
    width: 100%;
    background-color: $oxford-blue;
    position: fixed;

    .titleStyle{
        @include flex-params();
        color:$crayolas-orange-yellow;
        width: 100%;
        height: 60%;
    }

    .navStyle{
        @include flex-params();
        height: 40%;
        width: 100%;
        background-color:$dark-slate-blue;
        flex-direction: row;

        .aStyle{
            @include flex-params();
            color:$spanish-pink;
            text-decoration: none;
            background-color:$upsdell-red;
            width: 12em;
            transition: all .4s ease-in-out;
        }

        .aStyle:hover{
            cursor: pointer;
            background-color: lighten($upsdell-red, 10%);
        }
    }
}