$dark-slate-blue: #393E8F;
$crayolas-orange-yellow: #F3CC64;
$upsdell-red: #B12228;
$spanish-pink: #EFBEB7;
$white: #FFF;
$oxford-blue: #12194A;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}